<surveyquestionchild  id="{{id}}" data-parentid="{{question_id}}" >
 		<div class="option-wrp">
 		<!-- {{question_number}}) -->
	
	<%= render "templates/questions/option" %>
	<div class="inline_errors">{{errors}}</div>
	</div>
</surveyquestionchild>