<div class="dashboard-wrapper">
  <div class="left-sideBar">
    <div class="org-shortInfo">
      <p>Welcome to the Survey Manager this is your dashboard</p>
      <h1>Organization Name</h1>
      <div class="org-dashboard-logo">
        <%= image_tag "orgLogo.jpg" %>
      </div>
      <p>Data plays a significant part in designing social impact programs. Social Surveys, Data collection drives and Demand aggregation are</p>
      <div class="org-edit">
        <a href="#" class="edit"></a>
      </div>
    </div>
    <div class="Survey-summary">
      <table>
        <tbody>
          <tr>
            <td><span>03</span></td>
            <td><span>17</span></td>
          </tr>
          <tr>
            <td>Active</td>
            <td>Expiring Soon</td>
          </tr>
        </tbody>
      </table>
      <div class="survey-create">
        <span class="left">surveys</span>
        <a href="#" class="addIcon"></a>
      </div>
    </div>
    <div class="Users-summary">
      <table>
        <tbody>
          <tr>
            <td><span>168</span></td>
          </tr>
          <tr>
            <td>Users</td>
          </tr>
        </tbody>
      </table>
      <div class="user-create">
        <span class="left">Users</span>
        <a href="#" class="addIcon"></a>
      </div>
    </div>

    <div class="SpaceWrapper">
      Utilised space : 1.6gb
      <div class="spaceBar">
        <div class="utilisedSpace">
      </div>
    </div>
    </div>

    <div class="clear"></div>
  </div>
  <div class="main-content">
    <header>
      <h2 class="left">Top Surveys
        <span class="subHeading">Total surveys: 100</span>
      </h2>
      <a href="#" class="Btn colrBtn right">all surveys</a>
    </header>
    <table class="table_list">
      <thead>
        <tr>
          <th width="20%" class="rightBorder">Title
          </th>
          <th width="35%" class="rightBorder">Description</th>
          <th width="15%" class="rightBorder">Responses</th>
          <th width="8%" class="rightBorder">Users</th>
          <th width="3%" class="rightBorder">Reports</th>
          <th width="20%">Date</th>
        </tr>
        <tbody>
          <tr>
            <td align="left">
              <span class="survey_name">Temperature details as per city</span>
              <span class="org_name">Organization Name</span>
            </td>
            <td align="left">
              The European languages are members of the same family. Their separate existence is a myth. For science, music, sport, etc, Europe uses the same vocabulary. The
            </td>
            <td align="center">209</td>
            <td align="center">20</td>
            <td align="center"><a href="#" class="reports-link"></a></td>
            <td align="left">30 Sep - 31 Nov</td>
          </tr>
          <tr>
            <td align="left">
              <span class="survey_name">Temperature details as per city</span>
              <span class="org_name">Organization Name</span>
            </td>
            <td align="left">
              The European languages are members of the same family. Their separate existence is a myth. For science, music, sport, etc, Europe uses the same vocabulary. The
            </td>
            <td align="center">209</td>
            <td align="center">20</td>
            <td align="center"><a href="#" class="reports-link"></a></td>
            <td align="left">30 Sep - 31 Nov</td>
          </tr>
          <tr>
            <td align="left">
              <span class="survey_name">Temperature details as per city</span>
              <span class="org_name">Organization Name</span>
            </td>
            <td align="left">
              The European languages are members of the same family. Their separate existence is a myth. For science, music, sport, etc, Europe uses the same vocabulary. The
            </td>
            <td align="center">209</td>
            <td align="center">20</td>
            <td align="center"><a href="#" class="reports-link"></a></td>
            <td align="left">30 Sep - 31 Nov</td>
          </tr>
        </tbody>
      </table>
    </div>
    <div class="clear"></div>
  </div>
