<%#= render "layouts/status_bar", :status => "collect" %>
<div class="container" style="padding-top:200px;">
  <div class="thank-you" style="text-align:center; width:100%; position:relative;">
    <h4><%= @survey.thank_you_message %></h4>
  </div>
</div>
