<a class="upload_files">
  <!-- <label><%= t("activerecord.attributes.question.image") %> </label> -->
  <input name="image" class="fileupload" type="file" value="NONE" name="files[]" accept="image/png, image/jpg">
  <span class="upload-icon"></span>
  <!-- <div class="spinner"></div> -->
</a>
