<input type="text" value="{{content}}" data-id="{{id}}" class="option"></input>
<!-- <div class="actions"> -->
  {{#id}}
    <%#= render 'templates/question_types_dropdown' %>
    <!-- <button class='add_sub_question button' href='javascript:void(0);'>Add</button> -->
    <!-- <a class='add_sub_question add-option icon-btns' href='javascript:void(0);'></a> -->
    <div class="addQuestion add-subQuestion">
      <!--add question btn-->
      <div class="question-types">
        <ul>
          <li>
            <!-- <input type="radio" name="questionType" id="singleLine" class="regular-radio">
            <label for="singleLine" class=""></label> -->
            <span><a href="javascript:void(0)" id="SingleLineQuestion" class="clsaddquestion_sub">Single Line</a></span>
          </li>
          <li>
            <!-- <input type="radio" name="questionType" id="numeric" class="regular-radio ">
            <label for="numeric" class=""></label> -->
            <span><a href="javascript:void(0)" id="NumericQuestion" class="clsaddquestion_sub">Numeric</a></span>
          </li>
          <li>
            <!-- <input type="radio" name="questionType" id="multiline" class="regular-radio">
            <label for="multiline" class=""></label> -->
            <span><a href="javascript:void(0)" id="MultilineQuestion" class="clsaddquestion_sub">Multiline</a></span>
          </li>
          <li>
            <!-- <input type="radio" name="questionType" id="date" class="regular-radio">
            <label for="date" class=""></label> -->
            <span><a href="javascript:void(0)" id="DateQuestion" class="clsaddquestion_sub">Date</a></span>
          </li>
          <li>
            <!-- <input type="radio" name="questionType" id="multichoice" class="regular-radio">
            <label for="multichoice" class=""></label> -->
            <span><a href="javascript:void(0)" id="MultiChoiceQuestion" class="clsaddquestion_sub">Multichoice</a></span>
          </li>
          <li>
            <!-- <input type="radio" name="questionType" id="category" class="regular-radio">
            <label for="category" class=""></label> -->
            <span><a href="javascript:void(0)" id="CategoryQuestion" class="clsaddquestion_sub">Category</a></span>
          </li>
          <li>
            <!-- <input type="radio" name="questionType" id="rating" class="regular-radio">
            <label for="rating" class=""></label> -->
            <span><a href="javascript:void(0)" id="RatingQuestion" class="clsaddquestion_sub">Rating</a></span>
          </li>
          <li>
            <!-- <input type="radio" name="questionType" id="multiRecord" class="regular-radio">
            <label for="multiRecord" class=""></label> -->
            <span><a href="javascript:void(0)" id="MultiRecordCategory" class="clsaddquestion_sub">Multirecord</a></span>
          </li>
          <li>
            <!-- <input type="radio" name="questionType" id="radio" class="regular-radio">
            <label for="radio" class=""></label> -->
            <span><a href="javascript:void(0)" id="RadioQuestion" class="clsaddquestion_sub">Radio</a></span>
          </li>
          <li>
            <!-- <input type="radio" name="questionType" id="photo" class="regular-radio">
            <label for="photo" class=""></label> -->
            <span><a href="javascript:void(0)" id="PhotoQuestion" class="clsaddquestion_sub">Photo</a></span>
          </li>
          <li>
            <!-- <input type="radio" name="questionType" id="drodown" class="regular-radio">
            <label for="drodown" class=""></label> -->
            <span><a href="javascript:void(0)" id="DropDownQuestion" class="clsaddquestion_sub">Dropdown</a></span>
          </li>
        </ul>
        <div class="clear"></div>
        <!-- <button class="addBtn Btn nrmlBtn">Add</button> -->
      </div>

      <!-- <a href="#" class="add-question-btn"></a> -->
      <a class='add_sub_question add-option icon-btns' href='javascript:void(0);'></a> 
    </div>
    
    <a class='delete_option delete-option icon-btns' href='javascript:void(0);'></a>
    
    <!-- <button class='add_sub_category button' data-type="" href='javascript:void(0);'>Add Category</button>  -->
    {{^has_multi_record_ancestor}}
        <!-- <button class='add_sub_multi_record button' data-type="MultiRecordCategory" href='javascript:void(0);'>Add MR</button> -->
    {{/has_multi_record_ancestor}}
    <!-- <button class='delete_option button' href='javascript:void(0);'>Delete</button> -->
    
  {{/id}}
  {{^id}}
    <%#= render 'templates/loading' %>
  {{/id}}
<!-- </div> -->
<div>{{errors}}</div>

<%= render "templates/questions/option_finalized_message" %>
